<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <title>Admin Test</title>
</head>
<body>
  <header>
    <h1>Members Only</h1>
    <a href="/" class="home">Home</a>
  </header>

  <h2>Become an Admin!</h2>
  
  <% if (user === undefined) { %>
    <h2>Uh oh! Looks like you're not logged in.</h2>
    <p>Please login or sign up first before taking the test to become an
    admin.</p>
  <% } else { %>
    <form action="" method="POST" class="admin">
      <div class="form-group">
        <label for="passcode">Enter admin code: </label>
        <input type="text" name="passcode" id="passcode">
      </div>

      <button type="submit">Submit</button>
    </form>
  <% } %>

  <% if (errors) { %>
    <ul>
      <% errors.forEach(error => { %>
        <li><%= error.msg %></li>
      <% }) %>
    </ul>
  <% } %>
</body>
</html>